<% provide(:title, 'Edit question') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h3>Edit question</h3>

      <%= render partial: 'form', locals: { question: @question,
                                  btn_text: 'Update Question' } %>
    </div>
  </div>
</div>
