<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container" >
		<div class="row center">
			<div class="col-md-2">

				<%= link_to "Stack Flow", root_path, id: 'logo' %>

			</div>
			<div class="col-md-5" style="margin-top: 10px">

        <%= render 'layouts/search_form' %>

			</div>
			<div class="search-container center">

				<%= render 'layouts/navbar' %>

      </div>
    </div>
  </div>
</header>